.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    justify-content: space-evenly;
}

.navbar__item {
    
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-basis: 5%;
}

.navbar__link {
    color:aliceblue
}